PORT=4000
MONGO_URI=your_mongodb_connection_string
JWT_SECRET="secretwisemindos"
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secrets
IMAGEKIT_PUBLIC_KEY=placeholder_public_key
IMAGEKIT_PRIVATE_KEY=placeholder_private_key
IMAGEKIT_URL_ENDPOINT=placeholder_url_endpoint
