PORT=5000
MONGO_URI=your_mongodb_connection_string
JWT_SECRET=your_secret_key
CLIENT_URL=http://localhost:5173
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
IMAGEKIT_PUBLIC_KEY=placeholder_public_key
IMAGEKIT_PRIVATE_KEY=placeholder_private_key
IMAGEKIT_URL_ENDPOINT=placeholder_url_endpoint